.container {
  height: 100%;
  margin: 0 auto;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .form-content {
    padding-top: 2%;
    width: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    mat-form-field {
      width: 70%;
    }

    .button-content {
      width: 70%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      .btn {
        width: 30%;
        background-color: #50b358;
        color: white;
      }

      button.btn:disabled {
        opacity: 0.5;
        cursor: not-allowed;
        background-color: #595b61;
        color: black;
      }

      .btn-back {
        width: 30%;
        background-color: #67789b;
        color: white;
      }
    }
  }
}

@media only screen and (max-width: 723.98px) {
  .container {
    width: 90%;
    height: 90%;
    padding-top: 15%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .form-content {
      padding-top: 2%;
      width: 60%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      mat-form-field {
        width: 70%;
      }

      .button-content {
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .btn {
          width: 30%;
        }

        button.btn:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }

        .btn-back {
          width: 30%;
        }
      }
    }
  }
}
