<div class="container">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="form-content">
    <mat-form-field >
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" placeholder="Enter title">
      <mat-error *ngIf="formulario.get('title')?.hasError('required')">Title is required</mat-error>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Content</mat-label>
      <textarea matInput formControlName="content" placeholder="Enter content"></textarea>
      <mat-error *ngIf="formulario.get('content')?.hasError('required')">Content is required</mat-error>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Author</mat-label>
      <input matInput formControlName="author" placeholder="Enter author">
      <mat-error *ngIf="formulario.get('author')?.hasError('required')">Author is required</mat-error>
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit" [disabled]="formulario.invalid">Submit</button>
  </form>
</div>

  