/* :host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  } */

  .container
  {
    width: 90%;
    height: 90%;
    padding-top: 10%;

    display: flex;
    flex-direction: column;
    align-items: center;

    .form-content
    {
        /* border: red solid 1px; */
        padding-top: 2%;
        width: 60%;
        

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        mat-form-field
        {
            width: 70%;

            mat-label
            {
                color: white;
            }

        }

        .button-content
        {
            width: 70%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            border: red solid 1px;

            .btn
            {
                width: 30%;

            }
        }
    }
  }
  