<div class="container">
  
    <div class="page-content">
        <div class="create-search-content">
            <button class="btn-create" mat-button (click)="createButton()"
            >   Create Blog
            </button>
            <div class="search-content">
              <input type="search" [(ngModel)]="searchCriteria">
          <button (click)="search()">Buscar</button>          
            </div>
        </div>
        <div class="table-content ">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z0  mat-row-striped">
              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }} </td>
              </ng-container>
          
              <!-- id Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>
          
              <!-- title Column -->
              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> Title </th>
                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
              </ng-container>
          
              <!-- author Column -->
              <ng-container matColumnDef="author">
                <th mat-header-cell *matHeaderCellDef> Author </th>
                <td mat-cell *matCellDef="let element"> {{element.author}} </td>
              </ng-container>

              <!-- options column-->
            <ng-container matColumnDef="options">
              <th mat-header-cell *matHeaderCellDef >Options</th>
              <td mat-cell *matCellDef="let element">
                <button 
                class="btn btn-update"mat-button
                (click)="updateBlog(element.id, element)"
              > Update  </button>
              <button 
              class="btn btn-delete"mat-button 
              (click)="deleteBlog(element.id)"  
            >   Delete  </button>
              </td>
            </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"(click)="openDialog(row)"></tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                           showFirstLastButtons
                           aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>
          
    </div>    
</div>
